@import '@/app/variables.scss';
.container_top{
    margin-top: 15px;
}
.container_text{//стиль текста пророс на все надписи
     display: flex;
    @include font(#212121, Inter, 25px, normal, 400, 25px, 0);
    font-size: clamp(12px, 3vw, 20px);
    
}
.container_input{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 140px;
    }
.container_input{
    display: flex;
}
.container_popup{
    
    width: 300px;
    min-height: 400px;
    border: 2px solid #1805a4;
    border-radius: 10px;
    background: #99b5bf;
    padding: 5px;
    left: 20px;
    top: 15px;
}
.container_popup2{
    top: 170px;
}
.container_Summarized{
    max-width: 700px;
    width: 100%;
    @include font(#212121, Inter, 25px, normal, 400, 30px, 0);
    font-size: clamp(15px, 3vw, 25px);
}