@import '@/app/variables.scss';//стиль текста пророс на все надписи
.container_text{
     //display: flex;
    @include font(#E47611, Inter, 25px, normal, 400, 25px, 0);
    font-size: clamp(12px, 3vw, 20px);
    margin-top: 62px;
    input:focus{
    outline: 3px solid #E47611;
    border-radius: 10px;
}
}
.container_input{
        position: absolute;
        max-width: 230px;
        height: 30px;
        left: 140px;
        background-color: transparent;
        @include font(#E47611, Inter, 15px, normal, 400, 15px, 0);
    }
.container_input{
    display: flex;
}
.button_save{
    font-size: 18px;
}
.storage_text{
    @include font(#E47611, Inter, 20px, normal, 400, 25px, 0);
    font-size: clamp(15px, 3vw, 20px);
}
.container_popup{
    
    width: 300px;
    min-height: 400px;
    border: 2px solid #1805a4;
    border-radius: 10px;
    background: #99b5bf;
    padding: 5px;
    left: 20px;
    top: 15px;
}
.container_popup2{
    top: 170px;
}