@import '@/app/variables.scss';
.container{
    display: flex;
}
.label{
    max-width: 250px;
    @include font(#E47611, Inter, 20px, normal, 400, 20px, 0);
    font-size: clamp(15px, 3vw, 20px);
}
.dropdownIcon{
    position: absolute;
    margin-left: 10em;
    color: #fff;
    font-size: 18px;
}
.button{
    @include font(#E47611, Inter, 20px, normal, 600, 20px, 0);
    font-size: clamp(12px, 3vw, 20px);
}
.dropdownIcon:hover{
    cursor: pointer;
}
.ingredientCourse{
    @include font(#E47611, Inter, 20px, normal, 400, 17px, 0);
    font-size: clamp(15px, 3vw, 20px);
}
.container_text{
    @include font(#E47611, Inter, 25px, normal, 400, 30px, 0);
    font-size: clamp(15px, 3vw, 25px);
}
.container_popup{
    position: absolute;
    width: 300px;
    height: 500px;
    border: 2px solid #1805a4;
    border-radius: 10px;
    background: #99b5bf;
    left: 20px;
}
.container_Summarized{
    max-width: 700px;
    width: 100%;
    @include font(#E47611, Inter, 25px, normal, 400, 30px, 0);
    font-size: clamp(15px, 3vw, 25px);
}
.handleIngredients{
    margin: 0 10px;
}