@import '@/app/variables.scss';
.container_top{
    margin-top: 15px;
    display: flex;
    flex-flow: column;
}
.image{
    height: 30px;
}
.container{
    display: flex;
    select{
        width: 200px;
    }
    button{
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
        border: 2px solid #1805a4;
        border-radius: 10px;
    }
}
.logo{
    width: 100px;
    height: 70px;
}
.container_text{
    @include font(#212121, Inter, 25px, normal, 400, 30px, 0);
    font-size: clamp(15px, 3vw, 25px);
}
.container_popup{
    position: absolute;
    width: 300px;
    height: 500px;
    border: 2px solid #1805a4;
    border-radius: 10px;
    background: #99b5bf;
    left: 20px;
}
.container_Summarized{
    max-width: 700px;
    width: 100%;
    @include font(#212121, Inter, 25px, normal, 400, 30px, 0);
    font-size: clamp(15px, 3vw, 25px);
}