.container_top{
    margin-top: 15px;
}
.container{
    display: flex;
    button{
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
        border: 2px solid #1805a4;
        border-radius: 10px;
    }
}