@import '@/app/variables.scss';
.container_top{
    display: flex;
    flex-flow: column;
}
.menuGroup{
    width: 130px;
        height: 30px;
        border: 2px solid #1805a4;
        border-radius: 10px;
        @include font(#212121, Inter, 15px, normal, 400, 15px, 0);
}
.container_popup{
    position: relative;
    width: 300px;
    min-height: 400px;
    border: 2px solid #1805a4;
    border-radius: 10px;
    background: #99b5bf;
    padding: 5px;
    left: 20px;
    top: 15px;
}
.container_popup2{
    top: 170px;
}
.handleIngredients{
    margin: 0 10px;
    color: #0421fd;
}
.handleCopy{
    color: #0421fd;
}
.tooltip {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
  }
  