@import '../../app/variables.scss';
.wrapper{
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
    background: #99b5bf;
    text-align: center;
}
.textH3{
    @include font(#fff, Alegreya, 48px, italic, 400, 60px, -.025em);
    font-size: clamp(25px, 6vw, 48px);
    margin-bottom: 30px
}
.textH2{
    @include font(#212121, Inter, 60px, normal, 400, 70px, 0);
    font-size: clamp(20px, 6vw, 60px);
    margin-bottom: 40px;
    line-height: 1;
}
.textH4{
    @include font(#525050, Inter, 25px, normal, 400, 30px, 0);
    font-size: clamp(15px, 3vw, 25px);
}
.icon{
    a{
        margin-right: 30px;
    }
}