.containerForm{
    margin-top: 100px;
}
.wrapperForm{
    input{
        width: 300px;
    }
}
.textH1{
    color: #74797b;
    font-size: 54px;
    line-height: 68px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 75px;
}
.textP{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 17px;
    font-size: 17px;
    line-height: 33px;
    padding-bottom: 17px;
}