@import '@/app/variables.scss';
.containerFormMap{
  @include font(#000, Inter, 20px, normal, 400, 20px, 0);
  text-align: center;
  position: relative;
  top: 50%; /* Position the top edge at 50% of the viewport height */
  left: 50%; /* Position the left edge at 50% of the viewport width */
  transform: translate(-50%, 50%);
  width: 270px;
  min-height: 300px;
  border: 2px solid #E47611;
  border-radius: 10px;
  background-color: rgba(153, 181, 191, 0.5);
}
.containerInForm{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  //background-color: rgba(153, 181, 191, 0.5);
  //accent-color: rgba(153, 181, 191, 0.5);
}
.imageTest{
  width: 60px;
}
.componentShow{
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.image-appear {
  opacity: 1; /* Set the opacity to 1 to make the div appear */
}
// input[id="contactEmail"]{
//   accent-color: rgba(153, 181, 191, 0.5);
// }